.password-change-content{
    .password-change-wrapper{
        margin: 0 auto;
        max-width: 800px;
        padding-top: 10px;
        padding-bottom: 10px;

        .password-change-header{
            background-color: #05f;
                border-radius: 0.3rem;
                h4{
                    color: white;
                    font-size:19px ;
                }
                .goback-icon{
                    font-size: 20px;
                    color: white;
                }
        }

        .password-change-content{
            background-color: #fff;
            border-radius: 0.3rem;
            input{
                line-height: 50px;
                height: 50px;
                font-size: 14px;
                display: inline-block;
                border: 2px #eee solid;
                &:hover{
                    outline: none;
                }
            }
    
            label{
                font-size: 14px;
                font-weight: 600;
            }

            .save-btn{
                margin-top: 10px;
                font-weight: 600;
                border-radius: 0.3rem;
                color: #fff;
                text-align: center;
                padding: 1rem;
                font-size: 14px;
                background-color: #05f;
                width: 175px;
                display: inline-block;
            }
        }
       

    }
}
@media screen and (max-width:992px) {
    .password-change-wrapper{
padding-left: 10px !important;
padding-right: 10px !important;
    }
}