.right-scroll-bar::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}
.right-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #aaa;
}
.right-scroll-bar::-webkit-scrollbar-track {
    background-color: black;
}
.chat-List{
    position: fixed;
    top: 0;
    right: -1000px;
    width: 290px;
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,.3);
    height: calc(100vh - 15px);
    padding-top: 96px;
    padding-right: 15px;
    padding-left: 15px;
    transition: right 0.8s ease;
    margin-top: 0.5rem;
    overflow-y: auto;
    z-index: 99;
    .chat-list-content-dark{
        background-color: #293145 !important;
    }
    .chat-list-content{
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 8px 30px rgba(0,0,0,.05);
        .chatlist-friends{
            padding-right: 1rem;
            padding-left: 1.5rem;
            padding-top: 1.2rem;
            position: relative;

            .chat-list-header{
                font-size: 13px;
                color: #adb5bd;
            }
            .friends-list{
                display: flex;
                flex-direction: column;
                padding-left: 0;
                margin-bottom: 0;
                position: relative;
                .friends-profile-img{
                    width: 35px;
                }
                .friends-names-dark{
                    color: #eee !important;
                }
                .friends-names{
                    font-weight: 700;
                    font-size: 1.125rem;
                    color: #6c757d;
                    font-size: 13px;
                }

                .notification-chatlist{
                    border-radius: 50%;
                    position: absolute;
                    background-color: blue;
                    right: 0;
                    color: white;
                    line-height: 1;
                    width: 15px;
                    height: 15px;
                    text-align: center;
                }

                .online-chatlist{
                    width: 8px;
                    height: 8px;
                    border-radius: 8px;
                    background-color: green;
                    margin-left: auto;
                }
                .offline-chatlist{
                    font-weight: 700 !important;
                    color: #adb5bd;
                    margin-left: auto;
                    font-size: 12px;
                }
            }
        }
    }
}
.friends-names{
    font-weight: 700;
    font-size: 1.125rem;
    color: #1e74fd;
    font-size: 13px;
}

.friends-profile-img{
    width: 35px;
}
.friends-names-dark{
    color: #eee !important;
}

.chatmodeopen{
    right: 0;
    transition: right 0.5s ease;
}
.chatmodeclose{
    right: -1000px;
    transition: right 0.8s ease;
}
.messages{
    height: 250px;
    padding: 10px;
    justify-content: flex-start;
    padding-bottom: 2px;
    
}
.close-box{
    width: 23px;
    height: 23px;
    color: #1e74fd;
}
.chatBox{
    z-index: 999;
    border-radius: 8px;
    width: 310px;
    height: 380px;
    position: fixed;
    bottom: 10px;
    right: 320px;
    background-color: #fff;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    .footer-box{
        border-top: 1px solid #e1e1f0!important;
        width: inherit;
        position: absolute;
        bottom: 0;
        form{
            height: 45px;
        }
    }
}
.send-input{
    border-radius: 30px;
    line-height: 32px;
    font-size: 13px;
    background-color: #eee;
    font-weight: 500;
    padding-left: 1rem;
    border: 2px #eee solid;
    outline: 0;
    outline: 0;
    width: 100%;
    &:focus{
        outline: 0;
    }
}

.chat-header{
    border-bottom: 1px solid #e1e1f0!important;
    padding: 5px 15px;
    align-items: center;
    display: flex;
    height: 65px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.styles_scrollable-div__prSCv{
    display: flex;
    flex-direction: column;
}
.styles_scrollable-div__prSCv::-webkit-scrollbar {
    width: 2px;
}

.sender{
    background-color: #004e93;
    align-self: flex-end;
    word-wrap: break-word;
    width: 210px;
    padding: 10px 20px;
    max-width: 80%;
    display: inline-block;
    text-align: left;
    border-radius: 20px 20px 0 20px;
    background-color: #e2efff;
    color: #2a4e7f;
}
.receiver{
    background-color: #009353;
    align-self: flex-start;
    word-wrap: break-word;
    width: 210px;
    color: #594939;
    padding: 10px 20px;
    background-color: #fcf6ee;
    border-radius: 20px 20px 20px 0;
    max-width: 80%;
    display: inline-block;
    text-align: left;
}
.comment-textarea{
    margin-left: 5px;
}
.sender-date{
    align-self: flex-end;
}

.sendBtn{
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    svg{
        color: #0d6efd;
        width: 20px;
        height: 20px;
    }
}



