.followbtn-recommended{
    padding: 0.5rem 1.8rem;
    font-weight: 700;
    background-color: #10d876;
    color: white;
    border-radius: 30px;
    font-size: 13px;
}
.unfollow-btn{
    padding: 0.5rem 1.8rem;
    font-weight: 700;
    background-color: red;
    color: white;
    border-radius: 30px;
    font-size: 13px;
}