.darkmodeNavigation{
    background-color: #293145 !important;
}
@media screen and (max-width:1200px) {
    .navigation{
        width: 100px !important;
        .nav-wrap-info{
            display: none;
        }
        .nav-wrap-header{
            display: none;
        }
        .nav-wrap-sidebar-feed{
            padding:12px 12px !important ;
        }
    }
}
@media screen and (max-width:992px) {
    .navigation{
        display: none;
    }
}
.navigation{
    width: 270px;
    height: 100vh;
    background-color: #f5f5f7;
    position: fixed;
    overflow: hidden;
    top: 0;
    padding-top: 96px;
    overflow-y: scroll;
    padding-bottom: 10px;
    .nav-content{
        height: 100vh;
        padding-right: 25px;
        .nawrapdarkmode{
            background-color: #293145 !important;
        }
        .nav-wrap{
            box-shadow: 0 8px 30px rgba(0,0,0,.05);
            background-color: #fff;
            border-radius: 15px;
            padding-top: 1rem;
            margin-top: 15px;
            .nav-wrap-header{
                font-size: 14px;
                font-family: 700;
                color: #adb5bd;
                padding-left: 25px;
            }
            .nav-wrap-sidebar-feed{
                padding:12px 25px ;
                color: #adb5bd;
                align-items: center;
                display: flex;
                .nav-wrap-sidebar-feed-icon-wrap{
                    padding: 0.5rem;
                    border-radius: 50%;
                    width: 45px;
                    height: 45px;
                    display: flex;
                    padding: 10px;
                    svg{
                        width: 25px;
                        height: 25px;
                    }
                }

                .sidebar-logos{
                    width: 30px;
                    height: 30px;
                }

                .nawrapinfodarkmode{
                   color:#ddd !important ;
                }

                .nav-wrap-info{
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 28px;
                    color: #888;
                    padding-right: 10px;
                    margin-left: 10px;
                }
            }
            .nav-wrap-sidebar-feed-down {
                padding-left: 30px;
            }
        }
        .navwrapp-0{
            padding-top: 0;
        }
    }
}

ul{
    padding: 0;
}
.scroll-bar::-webkit-scrollbar{
    width: 2px;
}
.scroll-bar::-webkit-scrollbar-track{
    background-color: #aaa;
}
.scroll-bar::-webkit-scrollbar-thumb{
    background-color: black;
}
    
