/* navleft */
li{
    list-style-type: none;
}
header{
    background-color: #fff;
   
}
.fredoka-font{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width: 1198.98px) {
    .nav-head{
        height: auto !important;
        padding: 10px;
        .lg-show{
            display: none;
        }
    
        .xl-none{
            display: none;
        }
    }

    
}

@media screen and (max-width: 991.98px) {
    .nav-head{
        height: auto;
        .navmiddle{
            width: 100%;
            justify-content: flex-end;
            .lg-show{
                display: block !important;
            }
            
            .search-991{
                display: block !important;
            }
        }
    }

  
}

@media screen and (max-width:575.98px) {

    .logo-Link{
        align-items: center;
        .customlogotext{
            font-size: 25px !important;
        }
        .meetup-Logo{
            width: 30px !important;
            height: 100%;
        }
    }
    .navmiddle {
        margin-left: 0 !important;
        .nav-middle-link{
            width: 45px !important;
            height: 45px !important;
            .nav-middle-Logo{
                width: 20px;
                height: 20px;
        }
        }
    }
  
   
  
    .logo-Link{
        width: max-content;
        margin-right: 0 !important;
    }


}

@media (max-width: 420px) {
   .nav-middle-link{
       margin-left: 0.5rem !important;
   }
  
  }

@media (max-width: 380px) {
  .custom-container{
      padding: 0;
  }
  
  }

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.customlogotext{
    font-weight: 600;
    font-size: 32px;
    margin-left: 10px;
    color: #0d6efd;
}

.nav-head{
    height: 96px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.03);
}

.meetup-Logo{
    width: 45px;
    height: 100%;
}

.logo-Link{
    max-width: 350px;
    margin-right: 70px;
    fill: #0d6efd !important;
}

.logo-Link svg{
    fill: #0d6efd !important;
}

/* navmiddle */

.navmiddle{
    margin-left: 2rem;
}
.search-input-wrapper{
    position: relative;
}
.search-input-logo{
    position: absolute;
    left: 10px;
    width: 20px;
    height: 20px;
    top: 14px;
    outline-color: grey;
}

.search-input{
    border-radius: 20px;
    line-height: 32px;
    font-size: 13px;
    background-color: #eee;
    width: 350px;
    font-weight: 500;
    padding-left:3rem ;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    border: 0;
    outline: 0;
}

.nav-middle-link{
    padding: 0.5rem;
    text-align: center;
    position: relative;
    margin-left: 1rem;
    width: 50px;
    height: 50px;
    background-color: #f5f5f5!important;
    border-radius: 50%;
}


.nav-middle-Logo{
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 25px;
    line-height: 40px;
    margin-top: 4px;
}

a{
    color: black;
    text-decoration: none;
}

/* nav-right */

.nav-right{
    position: relative;
    .settings-drop{
        width: 300px;
        z-index: 1;
        position: absolute;
        right: 83px;
        top: 55px;
        background-color: #fff;
        padding: 1.5rem;
        border-radius: 15px;
        .choose-color{
            font-size: 14px;
            margin-bottom: 1rem;
            color: #adb5bd;
            font-weight: 700;
           
        }
        .colors-settings{
            display: inline-block;
            padding: 0;
            margin-right: 8px;

            input[type=radio]{
                display: none;
            }
            .colors-settings-bg{
                display: inline-block;
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }
        }
        .settings-toggle{
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
            h4{
                font-size: 14px;
                font-weight: 700;
            }
            .toggle-button-settings{
                margin-bottom: 0.5rem;
            }
        }
    }
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

.nav-right-link{
    position: relative;
    padding: 0.5rem;
    text-align: center;
    margin-left: 1rem;
   
}

.nav-right-logo{
    width: 27px;
    height: 27px;
}

.rotate{
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.notification{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px;
    width: 7px;
    height: 7px;
    line-height: 15px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    background-color: #fe9431;
}


.profile-img{
    width: 40px;
}

.notification-drop{
    position: absolute;
    top: 55px;
    right: 170px;
    padding: 1.5rem;
    border-radius: 15px;
    z-index: 2;
    background-color: #fff;
}

.notification-drop h6{
    color: gray;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
}
.notification-drop h5{
    color: black;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0.25rem;
}
.not-drop:hover{
    color: black;
}

.not-drop{
    margin-bottom: 1rem;
    width: max-content;
}
.not-user-pics{
    width: 40px;
    height: 40px;
}

.time-not-user{
    float: right;
    font-size: 11px;
    color: #ced4da;
    font-weight: 600;
}

