
// @media  screen and (max-width:1600px) {
//     .main-content{
//          padding-right: 0 !important;
//     }
   
// }
.main-content-chatopen{
    padding-right: 270px !important;
    transition: padding-right 1s ease;
}
@media screen and (max-width:1500px) {
    .main-content-chatopen{
        padding-right: 0 !important;
    }
}
.main-content{
    padding-top: 96px;
    padding-left: 270px;
    background-color: #f5f5f7;
    overflow:hidden;
    transition: padding-right 1s ease;
    .slick-slide{
        width: 125px !important;
        margin-right: 7px;
        margin-left: 4px;
    }
    .main-content-wrapper{
        padding-top: 20px;
        .main-content-container{
            margin-left: auto !important;
            margin-right: auto;
            max-width: 960px;
            margin-left: 50px;
            .main-content-left{
                padding-right: 10px;
                padding-left: 10px;
                .stories-bottom-shadow::after{
                    content: "";
                    background: linear-gradient(
                180deg,rgba(0,0,0,.01) 60%,rgba(0,0,0,.9) 100%);
                    width: 100%;
                    height: 200px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    border-radius: 10px;
                }
                .story-item{
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    position: relative;
                    height: 200px;
                    width: 125px;
                    border-radius: 10px;
                   
                    .add-button-wrap{
                        padding:1rem;
                        text-align: center;
                        width: 100%;
                        position: absolute;
                        bottom: 0;

                        .story-img-down{
                            margin-top: 0 !important;
                        }
                        .add-button{
                            width: 50px;
                            height: 50px;
                            border-radius: 50px;
                            display: inline-block;
                            line-height: 50px;
                            text-align: center;
                            background-color: #fff!important;
                            position: relative;
                            z-index: 10;
                            .add-icon{
                                width: 25px;
                                height: 25px;
                                color: #0d6efd;
                            }
                            .user-profile-pic{
                                width: 100%;
                            }
                        }
                        .story-author{
                            font-size: 14px;
                            position: relative;
                            z-index: 10;
                            color: #eee;
                        }
                    }
                }
                .story-item-add{
                    background-color: #343a40;
                }
                .story-of-user-slide{
                    background-image: url(../../../assets/images/s-2.jpg);
                }
                .story-of-user-slide2{
                    background-image: url(../../../assets/images/s-1.jpg);
                }
                .post-add{
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    padding-top: 1.5rem;
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                    width: 100%;
                    background-color: #fff;
                    position: relative;
                    border-radius: 15px;
                    .create-button-post{
                        width: 27px;
                        height: 27px;
                    }
                    .create-post-link{
                        font-weight: 600;
                        color: #adb5bd ;

                    }
                   .post-content{
                       margin-top: 1rem;
                    .my-profile-img-add-post-wrapper{
                        position: absolute;
                        top: 69px;
                        left: 25px;
                        margin-top:0.25rem ;
                        margin-left:0.5rem;
                        .my-profile-img-add-post{
                        width: 30px;
                    }
                    }
                    .post-textarea{
                        padding: 0.5rem;
                        padding-left: 3rem;
                        width: 100%;
                        border-radius: 15px !important;
                        border: 2px solid #f1f1f1 ;
                        height: 100px !important;
                        font-size: 14px;
                        color: #adb5bd;
                        outline: none;
                    }
                   }
                   .post-footer{
                    margin-top: 8px;
                     a{
                        display: flex;
                        align-items: center;
                          svg{
                        width: 23px;
                        height: 23px;
                        margin-right: 0.5rem;
                       }
                       .image-video-post{
                           font-weight: 600;
                           color: #495057;
                           font-size: 13px;
                       }
                     }
                      
                   }

                    
                }

                .post-with-photo{
                    padding: 1.5rem;
                    margin-bottom: 1rem;
                    width: 100%;
                    background-color: #fff;
                    position: relative;
                    border-radius: 15px;
                    .post-with-photo-header{ 
                        margin-bottom: 15px;
                        .post-with-photo-user-photo{
                        width: 40px;
                        height: 40px;
                        border-radius: 50px;
                        display: inline-block;
                        line-height: 50px;
                        text-align: center;
                        background-color: #fff!important;
                        position: relative;
                        z-index: 10;
                        display: flex;
                        .user-profile-pic{
                            width: 100%;
                        }
                    }
                    .post-with-photo-header-left{
                        .post-with-photo-user-name{
                            color: #212529;
                            font-size: 14px;
                        }
                        span{
                            font-weight: 500;
                            color:#adb5bd;
                            font-size: 12px;
                        }
                    }

                    .post-with-photo-menu{
                        width: 40px;
                        height: 40px;
                        border-radius: 50px;
                        background-color: rgb(238, 238, 238);
                        display: inline-block;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg{
                            width: 20px;
                            height: 20px;
                            color: black;
                        }
                    }}

                    .post-with-photo-quote{
                        margin-bottom: 0.5rem;
                        p{
                            color: #adb5bd;
                            font-weight: 500;
                            a{
                                font-weight: 600;
                                margin-left: 5px;
                            }
                        }
                    }

                    .post-with-photo-pic{
                        margin-bottom: 1rem;
                        img{
                            border-radius: 0.5rem;
                            width: 100%;
                        }
                    }

                    .post-with-photo-footer{
                        .likes-icon{
                            width: 20px;
                            height: 20px;
                            margin-right: 5px;
                        }
                        .likes-count{
                            color: #212529;
                            font-weight: 600;
                        }

                        .share-icon{
                            width: 25px;
                            height: 25px;
                            color: green;
                        }
                    }
                }

            }
            .main-content-right{
                background-color: brown;
                height: 450px;
                padding-right: 10px;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .main-content{
        padding-left: 150px !important;
    }
}

@media screen and (max-width:992px) {
    .main-content{
        padding-left: 0 !important;
        padding-top: 70px !important;
    }
}

@media screen and (max-width:380px) {
    .main-content-wrapper{
     padding-left: 10px;
     padding-right: 10px;
    }
}