.account-details-content{
        margin: 0 auto;
        max-width: 800px;
        padding-top: 10px;
        padding-bottom: 10px;

        .account-details-body{
            background-color:#fff;
            border-radius: 0.25rem;
            padding: 3rem;
            width: 100%;
        }
}